<form (submit)="onLogin(loginForm)" #loginForm="ngForm" class="form-container">
    
    <h2>Log into your account</h2>
    <p>Don't have an account? <a href="#">Sign up</a></p>

    <div class="form-group">
    <label for="email">Email</label>
    <input type="email" 
    ngModel name="enteredusername" 
    placeholder="Username"
    required 
    minlength="1"
    pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
    #enteredusername="ngModel"/>
    </div>
    
    <div class="form-group">
    <label for="password">Password</label>
    <input type="password" 
    ngModel name="enteredpassword" 
    placeholder="Password"
    required 
    minlength="1"
    pattern="^[a-zA-Z0-9@*#]{8,15}$"
    #enteredpassword="ngModel"/>
</div>
    <button type="submit">{{option}}</button>
</form>


