<!-- <div *ngFor="let post of posts">
    {{post.author}}
    {{post.title}}
    {{post.content}}
    <button (click)="onDelete(post._id)">Delete</button>
</div> -->
<mat-accordion>
<mat-expansion-panel *ngFor="let post of posts" class="custom-expansion-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ post.title }}
      </mat-panel-title>
      <mat-panel-description>
        By: {{ post.author }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>{{ post.content }}</p>
    <button mat-button color="warn" (click)="onDelete(post._id)">Delete</button>
  </mat-expansion-panel>
</mat-accordion>